body{
	margin:0;
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
}

.thumbnailslider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnailslider .thumbnailcontainer{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}
.thumbnailcontainer{
	width: 200px;
}
.thumbnailslider .item{
	width: 200px;
  height: 250px;
  background-color: grey;
  line-height: 250px;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  float: left;
}

.thumbnailslider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnailslider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnailslider .controls ul li{
	height: 15px;
	width: 15px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
	border-radius: 50%;
}
.thumbnailslider .controls ul li.active{
	background-color: yellow;
	color:#ffffff;
}
.item{
	
}

