body{
	margin:0;
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
}

.thumbnailslider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnailslider .thumbnailcontainer{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}
.thumbnailcontainer{
	width: 200px;
}
.thumbnailslider .item{
	width: 200px;
  height: 250px;
  background-color: grey;
  line-height: 250px;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  float: left;
}

.thumbnailslider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnailslider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnailslider .controls ul li{
	height: 15px;
	width: 15px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
	border-radius: 50%;
}
.thumbnailslider .controls ul li.active{
	background-color: yellow;
	color:#ffffff;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 95%;
	margin:10px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
	padding: 2px 16px;
  }
  .spacing{
	margin:100px 350px;
  }

@media(max-width:1500px){
	.spacing{
		margin:100px;
	}
}
